*.ipynb_checkpoints

data/kaggle_lokeshparab/Amazon-Products.csv
data/kaggle_asaniczka/amazon_products.csv
data/products_cleaned.csv
data/kaggle_asaniczka/amazon_products_cleaned.csv
quarto/_freeze
*__pycache__
